In [14]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series([4, 7, -5, 3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3])

In [5]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [7]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2['a']

-5

In [9]:
obj2['d'] = 6

In [10]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2[['c', 'a', 'b']]

c    3
a   -5
b    7
dtype: int64

In [12]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [13]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [15]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [16]:
'b' in obj2

True

In [17]:
'e' in obj2

False

In [18]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [19]:
obj2 = Series(sdata)

In [20]:
obj2

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [21]:
states = ['California', 'Ohio', 'Texas', 'Oregon']

In [22]:
obj3 = Series(sdata, index=states)
obj3

California      NaN
Ohio          35000
Texas         71000
Oregon        16000
dtype: float64

In [23]:
pd.isnull(obj3)

California     True
Ohio          False
Texas         False
Oregon        False
dtype: bool

In [24]:
pd.notnull(obj3)

California    False
Ohio           True
Texas          True
Oregon         True
dtype: bool

In [25]:
obj2 + obj3

California       NaN
Ohio           70000
Oregon         32000
Texas         142000
Utah             NaN
dtype: float64

In [26]:
obj3.name = 'population'
obj3.index.name = 'state'
obj3

state
California      NaN
Ohio          35000
Texas         71000
Oregon        16000
Name: population, dtype: float64

In [27]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [29]:
obj.name = 'People'
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
Name: People, dtype: int64

In [30]:
obj.index.name = 'name'

In [31]:
obj

name
Bob      4
Steve    7
Jeff    -5
Ryan     3
Name: People, dtype: int64